[submodule "repos/poky"]
	path = repos/poky
	url = git@github.com:yoctoproject/poky.git
	branch = nanbield
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
	branch = nanbield
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = git@github.com:ros/meta-ros.git
	branch = nanbield
[submodule "repos/meta-xilinx"]
	path = repos/meta-xilinx
	url = git@github.com:Xilinx/meta-xilinx.git
	branch = nanbield
[submodule "layers/meta-xilinx-tools"]
	path = layers/meta-xilinx-tools
	url = git@github.com:Xilinx/meta-xilinx-tools.git
	branch = nanbield
[submodule "layers/meta-petalinux"]
	path = layers/meta-petalinux
	url = git@github.com:Xilinx/meta-petalinux.git
	branch = nanbield
[submodule "layers/meta-jupyter"]
	path = layers/meta-jupyter
	url = git@github.com:Xilinx/meta-jupyter.git
	branch = master
[submodule "repos/meta-security"]
	path = repos/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = nanbield
[submodule "layers/meta-mingw"]
	path = layers/meta-mingw
	url = https://git.yoctoproject.org/meta-mingw
	branch = nanbield
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = nanbield
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization/
	branch = nanbield
[submodule "layers/meta-openamp"]
	path = layers/meta-openamp
	url = git@github.com:OpenAMP/meta-openamp.git
	branch = master
[submodule "layers/meta-xilinx-tsn"]
	path = layers/meta-xilinx-tsn
	url = git@github.com:Xilinx/meta-xilinx-tsn.git
	branch = master
[submodule "layers/meta-aws"]
	path = layers/meta-aws
	url = https://git.yoctoproject.org/meta-aws
	branch = nanbield
[submodule "layers/meta-system-controller"]
	path = layers/meta-system-controller
	url = git@github.com:Xilinx/meta-system-controller.git
	branch = master
[submodule "meta-kria-mmr"]
	path = layers/meta-kria
	url = git@github.com:mc-cat-tty/meta-kria-mmr
	branch = nanbield
