[Unit]
Description=Export all gpios and define their direction
After=network.target
[Service]
User=root
Group=root
ExecStart=/usr/bin/gpio_enable.sh

[Install]
WantedBy=multi-user.target

